@font-face {
    font-family: "Regular";
    src: url("../fonts/FiraSans-Regular.woff") format("woff");
    src: url("../fonts/FiraSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Italic";
    src: url("../fonts/FiraSans-Italic.woff") format("woff");
    src: url("../fonts/FiraSans-Italic.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    list-style: none;
    text-decoration: none;
    outline: none;
    color: rgba(45, 57, 76, 255);
    text-align: center;
    font-size: 1.6rem;
}
li {
    list-style: none;
    text-decoration: none;
}
body {
    font-family: "Regular";
    font-size: 1rem;
}
.conteiner {
    min-width: 30rem;
    max-width: 93.75rem;
    margin: 0 auto;
}
.header {
    background-color: #ffffff;
}
.logo {
    display: flex;
    justify-content: space-around;
}
.logo-custom-img {
    color: rgba(255, 206, 84, 255);
    text-align: center;
    font-size: 1.6rem;
}
.logo-custom-name {
    color: #333333;
    text-align: center;
    font-size: 1.6rem;
}
.logo-custom-name2 {
    color: #a2c8e3;
    text-align: center;
    font-size: 1.6rem;
}
.navigate ul {
    display: flex;
}
/* ==============================================*/
.menu {
    color: #000;
    font-size: 30px;
    margin-top: 2px;
}
.custom {
    display: none;
}
.logo-custom {
    display: flex;
}
.navigation {
    display: none;
}
.toogle {
    display: block;
    font-family: "Regular";
}
.navigation  {
    color: rgba(45, 57, 76, 255);
    text-align: center;
    font-size: 1.6rem;
    
}

/* Section Track*/
.track {
    width: 100%;
    padding: 7%;
    background-color: #65a9d9;
}

.track-form {
    color: #f7f6f2;
    text-align: center;
}
.track-form h1{
    margin-bottom: 5%;
}
.track-form h3{
    margin-bottom: 5%;
    font-size: 1.1rem;
}
.track-form p {
    font-size: 0.7rem;
    margin-bottom: 5%;
}
.track-span {
    display: inline-block;
    background-color: #ffce54;
    border-radius: 12%;
    font-size: 0.8rem;
    width: 12%;
    height: 30%;
}
#validate {
    background-color: #77c344;
    color: rgba(255, 255, 255, 255);
    padding: 2%;
    border-radius: 10%;
}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {

    margin-bottom: 5%;
    padding: 2%;
    width: 80%;
}
.track-img {
    display: none;
}


/* Start Run string*/
.marquee {
    width: 100%;
    padding: 5%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    background-color: #f8f8f8;
   }
   
   .marquee span {
    display: inline-block;
    padding-left: 35%;
    font-size: 1.5rem;
    color: #989ea7;
    animation: marquee 15s linear infinite;
   }
   
   .marquee span:hover {
    animation-play-state: paused
   }
   
   @keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
   }
   /*End run string*/


    /*Start our-benefits*/
.our-benefits {
    padding: 2%;
}    
.our-benefits li div {
    display: flex;
   }
.our-benefits h1 {
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
    color: #5d6471;
}
.our-benefits-title span {
    color: #4c92ca;
    width: 11%;
    height: 2rem;
    font-size: 1.5rem;
}
.our-benefits-title h3 {
    color: rgba(45, 57, 76, 255);
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.7rem;
}
.our-benefits-list p {
    margin-bottom: 7%;
    font-size: 1rem;
    color: rgba(148, 153, 162, 255);
    text-align: left;
}
/*End our-benefits*/


    /* Start REVIEWS */
.reviews {
    background-color: #f6f6f7;
    padding: 10%;
}
.slider-list {
 background-color: #f6f6f7;
}
.slider-list h1 {
    text-align: center;
    font-size: 1rem;
    color: rgba(45, 57, 76, 255);
    margin-bottom: 5%;
}
.slider-list-item {
    display: flex;
    justify-content: space-between;
    color: rgba(45, 57, 76, 255);
    font-size: 0.8rem;
    margin-bottom: 5%;
}
.slider-icon {
    color: #64a4d7;

}
.slider-list p {
    font-size: 0.8rem;
    color: rgba(90, 98, 110, 255);
    text-align: left;
}
/* End REVIEWS */


/*Start save_time*/
.save-time {
    padding: 7%;
}
.save-time h1 {
    text-align: center;
    color: #5a626e;
    font-size: 1.4rem;
    margin-bottom: 5%;
}
.save-time p  {
    font-family: "Italic";
    color: #707781;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 15%;
}
#form-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#validate-time {
    background-color: #77c344;
    color: rgba(255, 255, 255, 255);
    padding: 4%;
    font-size: 1rem;
    border-radius: 0.4rem;
    width: 43%;
}
.input-time {
    padding: 3%;
    width: 85%;
    font-size: 1rem;
    border: 1px solid #d1d1d1;
    margin-bottom: 5%;

}
/*End save_time*/
 

   /*Start footer*/
.footer {
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding: 4%;
}
.footer-logo {
    display: flex;
}
.footer-icon-list {
    display: flex;
    border-left: 1px solid #a2a2a2;

}
.footer-icon-list  a{
    margin-left: 30%;
  
}
.footer-twitter {
    color: #4cbcf6;
    font-size: 1rem;
}
.footer-facebook {
    color: #4a6daa;
    font-size: 1rem;
}
.footer-google {
    color: #e74c40;
    font-size: 1rem;
}
.footer-img {
    color: #d6d6d6;
    text-align: center;
    font-size: 1.6rem;
}
.logo-footer-name {
    color: #a2a2a2;
    text-align: center;
    font-size: 1.6rem;
}
.logo-footer-name2 {
    color: #d6d6d6;
    text-align: center;
    font-size: 1.6rem;
}
   /*End footer*/
@media (min-width: 480px) {
.logo {
    justify-content: space-between;
    padding: 3%;
}
.track {
    padding: 10%;
}
.track-form h1 {
    margin-bottom: 10%;
    font-size: 2.4rem;
}
#validate {
    padding: 3%;
    border-radius: 8%;
    width: 30%;
    font-size: 1rem;
}
.track-form p {
    margin-bottom: 15%;
}
.our-benefits {
    padding: 3%;
}
.reviews {
    padding: 5%;

}
.slider-list h1 {
    font-size: 1.8rem;
}
.slider-list p {
    font-size: 0.9rem;
}
.slider-list-item {
    justify-content: space-around;
    font-size: 1.2rem;  
}
.slider-icon {
    font-size: 2rem;
}
.save-time {
    padding: 10%;
}
.save-time h1 {
    font-size: 2rem;
}
.save-time p {
    font-size: 1.2rem;
}
.input-time {
    margin-bottom: 10%;
}
}
@media (min-width: 768px)  {
.menu {
    display: none;
}
.header {
    display: flex;
}
.logo {
    justify-content: space-around;
    flex-grow: 3;
}
.navigation {
    display: block;
    flex-grow: 2;
}
.navigation ul {
    display: flex;
    justify-content: space-around;
    line-height: 4.7rem;
}
.navigation a {
    font-size: 1rem;
}
.track-form h1 {
    margin-bottom: 15%;
    font-size: 2.9rem;
}
.track-form h3 {
    font-size: 1.4rem;
    
}
.input {
    font-size: 1.5rem;
}
.our-benefits h1 {
    font-size: 2.7rem;
}

.our-benefits h1 {
    font-size: 2.7rem;
    padding-bottom: 10%;
}
.our-benefits-list {
    padding: 3%;
}
.our-benefits-title span {
    height: 3rem;
    font-size: 2.4rem;
}
.our-benefits-title h3 {
    font-size: 1.8rem;
    line-height: 3.1rem;
}

.our-benefits-list p {
    font-size: 1.4rem;
    margin-bottom: 4%;
}
.our-benefits li div {
    margin-bottom: 2%;
}
.marquee span {
    font-size: 2.5rem;
}
.slider-list h1 {
    font-size: 1.8rem;
}
.slider-list p {
    font-size: 1.4rem;
}
.slider-icon {
    font-size: 3rem;
}
.slider-list-item h3 {
    font-size: 2.2rem;
}
.save-time {
    padding: 15%;
}
.save-time h1 {
    font-size: 2.7rem;
    margin-bottom: 10%;
}
.save-time p {
    font-size: 1.4rem;
}
.footer {
    padding-left: 10%;
    padding-right: 10%;
}
.footer-twitter {
    font-size: 1.4rem;
}
.footer-facebook {
    font-size: 1.4rem;
}
.footer-google {
    font-size: 1.4rem;
}
}
@media (min-width: 960px) {
.track {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    /* height: 36.7rem; */
    padding: 1%;
    padding-bottom: 0;
}
.track-img {
    display: block;
width: 80%;
}
.track-form {
    padding: 5%;
}
.track-form h1 {
    text-align: left;
    margin-bottom: 10%;
    margin-bottom: 8%;
}
.track-form h3 {
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: 15%;
}
.track-form p {
    text-align: left;
    margin-bottom: 10%;
}
#form {
    justify-content: space-between;
    flex-direction: row;
}
.input {
    margin-bottom: 0;
    padding: 1%;
    width: 65%;
}
#validate {
    width: 27%;
}
.save-time {
    padding: 10%;
    padding-left: 16%;
    padding-right: 16%;
}
.input-time {
    margin-bottom: 0;
    width: 50%;
}
#validate-time {
    padding: 2.2%;
    width: 28.7%;
    font-size: 1.6rem;
}
#form-time {
    flex-direction: row;
    justify-content:space-between;
}
.benefits {
    display: flex;
}
.footer {
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
}
.benefits-list {
    width: 80%;
}
.our-benefits-title span {
    font-size: 1.4rem;
}
.our-benefits-title h3 {
    font-size: 1rem;
    line-height: 1.7rem;
}
.our-benefits-list p {
    font-size: 0.7rem;
    margin-bottom: 0%;
}

.our-benefits-list {
    padding: 1%;
}
.our_benefits_maps img  {
    position: absolute;
    width: 100%;
    margin-left: 5.5%;
}
.our_benefits_maps {
    position: relative;
    width: 100%;
}
.maps {
    position: absolute;
    left: 23.8%;
    width: 80%;
    top: 6.5%;
}
.reviews {
    padding: 15%;
}
.slider-icon {
    font-size: 1.5rem;
}
.slider-list-item {
    width: 70%;
}
.slider-list h1 {
    margin-bottom: 13%;
}
.slider-list-item h3 {
    font-size: 1.3rem;
}
.slider-list p {
    font-size: 0.9rem;
    width: 70%;
}
}
@media (min-width: 1024px) {
    body{
        background-clip: white;
    }
}